@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.about-container{

    display: flex;
    font-family: 'Parisienne', cursive;
    max-width: 40%;
    padding: 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(235, 232, 232);
}


.about-text{
    font-family: 'Poppins' , sans-serif;
}

