.cat-gallery {
    padding: 20px;
    /* margin: 0 auto; */
    /* width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(275px, 280px));
    grid-gap: 25px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin: 30px 0;
}